@model IEnumerable<HospitalProject.Models.Rays>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>رئيسية التحليل</h2>

<p>
    @Html.ActionLink("انشاء جديد", "Create")
</p>
<table class="table">
    <tr>
        <th>
           الأشعة
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PateintName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ray.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PateintName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfRay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
