@model HospitalProject.Models.PatientHagz

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>انشاء كشف</h2>




   

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group " >
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                
                
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group ">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2" style="font-size:19px;">التخصص</p>
            <div class="col-md-10">
                @Html.DropDownList("MaradId", null,"--إختر المرض --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaradId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2" style="font-size:19px;">سعر الكشف</p>
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.MaradPriceM, new SelectList(""), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaradPriceM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2" style="font-size:19px;">التأمين</p>
            <div class="col-md-10">
                @Html.DropDownList("TamenId", null, "--إختر نوع التأمين --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TamenId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2" style="font-size:19px;">خصم التأمين</p>
            <div class="col-md-10">
                @Html.DropDownListFor(a=>a.TamenpriceT, new SelectList(""),  htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TamenpriceT, "", new { @class = "text-danger" })
            </div>
        </div>

    

    

       
        <div class="form-group">
            @Html.LabelFor(model => model.IsBaid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsBaid)
                    @Html.ValidationMessageFor(model => model.IsBaid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Tashkhees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tashkhees, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tashkhees, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.CheckDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <input name="CheckDate" id="CheckDate" class="form-control" type="datetime"  />
                @Html.ValidationMessageFor(model => model.CheckDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group hidden">
            @Html.LabelFor(model => model.Rosheta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rosheta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rosheta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.AdwyaId, "AdwyaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdwyaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdwyaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.RayId, "RayId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RayId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RayId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            @Html.LabelFor(model => model.TahlelId, "TahlelId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TahlelId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TahlelId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden ">
            @Html.LabelFor(model => model.EndTurn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EndTurn)
                    @Html.ValidationMessageFor(model => model.IsBaid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
        }

<div>
    @Html.ActionLink("عودة", "Index")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#MaradId").change(function () {
            var MaradId = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/PatientHagzs/GetMaradPrice?MaradId=" + MaradId,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#MaradPriceM").empty();
                    $("#MaradPriceM").append(response);

                }
            })
        })


        $("#TamenId").change(function () {
            var TamenId = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/PatientHagzs/GetTamenPrice?TamenId=" + TamenId,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#TamenpriceT").empty();
                    $("#TamenpriceT").append(response);

                }
            })
        })
    })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    
