@model HospitalProject.Models.PatientHagz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تفاصيل</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adwya.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adwya.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marad.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marad.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ray.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ray.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tahlel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tahlel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamen.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamen.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KashfDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KashfDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tashkhees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tashkhees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rosheta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rosheta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTurn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTurn)
        </dd>


      

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("عودة", "Index")
</p>
