@model IEnumerable<HospitalProject.Models.PatientHagz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>قائمة الكشوفات</h2>
@using (Html.BeginForm("search", "Home", FormMethod.Post))
{
    <input id="searchName" name="searchName" class="form-control mr-sm-2" type="search" placeholder="بحث" aria-label="Search">
}

<p style="font-size:20px;">
    @Html.ActionLink("إنشاء كشف", "Create")
</p>
@{
    if (HttpContext.Current.User.IsInRole("Doctor"))
    {


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KashfDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adwya.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marad.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ray.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tahlel.Name)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tamen.Name)
        </th>
       
      
        <th>
            @Html.DisplayNameFor(model => model.Tashkhees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rosheta)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KashfDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adwya.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marad.Name)
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ray.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tahlel.Name)
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tamen.Name)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.Tashkhees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rosheta)
        </td>
       
        <td>
            @Html.ActionLink("كشف", "Edit", new { id = item.Id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
    }
    if (HttpContext.Current.User.IsInRole("Nurse"))
    {
        <table class="table">
            <tr>
              
                <th>
                    @Html.DisplayNameFor(model => model.marad.Name)
                </th>
               
              
                <th>
                    @Html.DisplayNameFor(model => model.tamen.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KashfDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsBaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllMoney)
                </th>
               
               
              
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.marad.Name)

                    </td>
                    
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.tamen.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KashfDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsBaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllMoney)
                    </td>
                   
                  
                 
                    <td>
                        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
                        @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }
}