@model IEnumerable<HospitalProject.Models.PatientHagz>

@{
    ViewBag.Title = "Search";

}

    @foreach (var item in Model)
    {
        <div class="container" id="mainrosheta" >
            <div id="doctorinfo" class="container  ">
                <div class="row">
                    <div class="col-md-6">
                   
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-right">د/@ViewBag.Name</h4>
                        <h5 class="text-right">@ViewBag.DoctorName</h5>
                        <h5 class="text-right">@ViewBag.Adress</h5>
                    </div>
                </div>
            </div>
            <div id="patientinfo" class="container">
                <div class="row">
                  
                    <div class="col-md-6   ">
                        <h4 class="text-right">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h5 class="text-right">العمر : @Html.DisplayFor(modelItem => item.Age)</h5>
                        <h5 class="text-right">نوع الكشف / @Html.DisplayFor(modelItem => item.marad.Name)</h5>
                        
                    </div>
                    <div class="col-md-6  ">
                        <h5 class="text-right">@Html.DisplayFor(modelItem => item.KashfDate) :: تاريخ الكشف </h5>
                        <h5 class="text-right">@Html.DisplayFor(modelItem => item.CheckDate) :: تاريخ الإستشارة</h5>

                    </div>
                </div>
            </div>
            <div id="rosheta" class="container">
                
                   <p id="r">R/</p>
                    <p>@Html.DisplayFor(modelItem => item.adwya.Content0)</p>
                    <p>@Html.DisplayFor(modelItem => item.Rosheta)</p>
                   <p>@Html.DisplayFor(modelItem => item.ray.Name)</p>
                      <p>@Html.DisplayFor(modelItem => item.tahlel.Name)</p>
                <br /><br /><br /><br /><br /><br /><br />
            </div>
            <div class="container" id="roshetafooter">
رقم المحمول /  @ViewBag.Mobile ,,,,, رقم الهاتف  / @ViewBag.Phone ,,,,, @ViewBag.Adress
                <br />



            </div>
            <div class="row">
                <br />
                <a id="bt" class="btn btn-primary btn-lg" href="javascript:window.print()">طباعة</a>
                
                <br />
                <p><ـــــــــ></p>
                <br />
                

                <div id="bt2">   @Html.ActionLink("كشف", "Edit", "PatientHagzs", new { id = item.Id }, new { @class = "btn btn-primary btn-lg" })</div>
            </div>
        </div>
    }

