@model HospitalProject.Models.Adwya

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adwya</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content7)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
